<h1>Home</h1>
<p><%= link_to 'Basic controller', '/basic' %></p>
<p><%= link_to 'Greeter', '/greeter' %></p>
<p><%= link_to 'Bad counter', '/bad-counter' %></p>
<p><%= link_to 'Counter', '/counter' %></p>
<p><%= link_to 'Slideshow', '/slideshow' %></p>
